<div class="create-service-container">
  <h2>Agregar Servicio</h2>
  <form (ngSubmit)="crearServicio()">
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        [(ngModel)]="servicio.descripcion"
        name="descripcion"
        placeholder="Describe tu servicio"
        required
      ></textarea>
    </div>
    <div>
      <label for="costo">Costo:</label>
      <input
        id="costo"
        type="number"
        [(ngModel)]="servicio.costo"
        name="costo"
        placeholder="Ingresa el costo del servicio"
        required
      />
    </div>

    <!-- Tipo de servicio (selección de profesión) -->
    <div>
      <label for="tipo-servicio">Tipo de Servicio:</label>
      <select
        id="tipo-servicio"
        [(ngModel)]="servicio.tipo_servicio"
        name="tipo_servicio"
        required
      >
        <option *ngFor="let profesion of profesiones" [value]="profesion">
          {{ profesion }}
        </option>
      </select>
    </div>

    <!-- Ubicación (selección de ciudad) -->
    <div>
      <label for="ubicacion">Ubicación:</label>
      <select
        id="ubicacion"
        [(ngModel)]="servicio.ubicacion"
        name="ubicacion"
        required
      >
        <option *ngFor="let ciudad of ciudades" [value]="ciudad">
          {{ ciudad }}
        </option>
      </select>
    </div>

    <div class="form-buttons">
      <button type="submit" class="submit-button">Crear</button>
      <button type="button" class="cancel-button" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
