/* Estilos generales */
.VistaPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  /* Contenedor principal */
  #ColumnaPrincipal {
    margin-top: 25px;
    width: 500px;
    margin-bottom: 20px;
  }
  
  /* Contenedor de columnas */
  .AmbasColumnas {
    width: 1000px;
    display: flex;
    background-color: #ffffff;
    margin-top: 30px;
    border-radius: 15px;
  }
  
  #mujerImg {
    margin: 50px 50px 10px;
    width: 400px;
    height: 570px;
    border-radius: 25px;
  }
  
  #tituloSesion {
    height: 30px;
    font-size: 24px;
  }
  
  #inicioText, #tipoUsuarioText, #passwordText, #passwordTextConfirm {
    color: black;
    font-size: 13px;
    height: 5px;
  }
  
  #email, #password, #passwordConfirm {
    width: 420px;
    height: 45px;
    border-radius: 3px;
    text-indent: 5%;
    border: 1px solid #877f7f;
    transition: background-color 0.3s ease;
  }
  #tipoUsuario{
    width: 425px;
    height: 45px;
    border-radius: 3px;
    text-indent: 5%;
    border: 1px solid #877f7f;
    transition: background-color 0.3s ease;
  }

  #tipoUsuario:hover{
    background-color: #dfdfdd;
  }
  
  #email:hover, #password:hover, #passwordConfirm:hover, #tipoUsuario:hover {
    background-color: #dfdfdd;
  }
  
  #entrarbtn {
    margin-top: 25px;
    width: 420px;
    height: 47px;
    background-color: #2b4c32;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  #entrarbtn:hover {
    transform: scale(1.03);
  }
  
  #continue {
    margin-left: 162px;
    font-size: 13px;
    color: #9794aa;
    height: 30px;
  }
  
  #googlebtn {
    width: 420px;
    height: 40px;
    margin-top: 10px;
    font-weight: bold;
    color: #19181f;
    border: 1px solid #877f7f;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 0.3s ease;
  }
  
  #googlebtn:hover {
    background-color: #dfdfdd;
  }
  
  #googleIcon {
    height: 15px;
    width: 15px;
    padding-left: 15px;
    position: absolute;
  }
  
  #pregunta {
    margin-left: 105px;
    font-size: 13px;
    color: #9794aa;
  }
  
  #iniciarSesion {
    font-weight: bold;
    font-size: 13px;
    color: #19181f;
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease;
  }
  
  #iniciarSesion:hover {
    transform: scale(1.1);
  }
  @media (max-width: 768px) {
    .AmbasColumnas {
      flex-direction: column;
      width: 100%;
      padding: 15px;
    }
  
    #mujerImg {
      display: none;
    }
  
    #ColumnaPrincipal {
      padding: 20px;
      width: 100%;
      max-width: 100%;
    }
  
    #tituloSesion {
      font-size: 24px;
    }
  
    input, select {
      width: 100%;
    }
  
    #entrarbtn {
      font-size: 16px;
    }
  }
  @media (max-width: 480px) {
    #entrarbtn {
      font-size: 16px;
      height: 45px;
    }
  
    #pregunta {
      font-size: 12px;
    }
  
    #iniciarSesion {
      font-size: 12px;
    }
  
    #tituloSesion {
      font-size: 22px;
    }
  
    input, select {
      font-size: 14px;
    }
  }