<div class="headerClienteContainer">
  <h3>FIXI</h3>
  <div class="buttonContainer">
      <img class="taskBtn" (click)="redirectToServices()" src="task.png" alt="">
      <img class="userBtn" (click)=" redirectToProfile()" src="user.png" alt="">
      <div class="menuContainer">
          <img class="menuBtn" src="menu.png" alt="" (click)="toggleMenu()">
          <div class="dropdownMenu" [class.open]="menuOpen">
              <a href="/homeProveedor">Home</a>
              <a href="/perfilFixi">Perfil</a>
              <a href="/serviciosFixi">Servicios</a>
              <hr>
              <a href="javascript:void(0)" (click)="cerrarSesion()">Cerrar sesión</a>
          </div>
      </div>
  </div>
</div>