.headerClienteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding: 20px;
  border-bottom: 2px solid black;
}

.headerClienteContainer h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding-right: 30px;
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.taskBtn,
.userBtn,
.menuBtn {
  width: 32px;
  height: 32px;
  margin: 0 10px;  
  cursor: pointer;
}

.menuContainer {
  position: relative;
}

.menuBtn {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  display: none;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dropdownMenu a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
}

.dropdownMenu a:hover {
  background-color: #444;
}

.dropdownMenu hr {
  border: none;
  height: 1px;
  background-color: #555;
  margin: 5px 0;
}

.menuContainer:hover .dropdownMenu,
.dropdownMenu.open {
  display: flex;
}