<app-header-client></app-header-client>
<div class="container">
  <h2>{{ categoria }}</h2>
  <div class="card-container">
    <div class="card" *ngFor="let servicio of servicios">
      <div class="card-left">
        <img
          *ngIf="getPerfilFoto(servicio.proveedor_id); else sinFoto"
          [src]="perfil?.foto ? (perfil.foto.startsWith('data:image') ? perfil.foto : 'data:image/png;base64,' + perfil.foto) : 'https://via.placeholder.com/150'"
          alt="Foto de perfil"
        />
       
        <ng-template #sinFoto>
          <img src="https://via.placeholder.com/100" alt="Sin foto" />
        </ng-template>
      </div>
      <div class="card-content">
        <h3>{{ servicio.nombre }}</h3>
        <p><strong>Descripción:</strong> {{ servicio.descripcion || 'No disponible' }}</p>
        <p><strong>Ubicación:</strong> {{ servicio.ubicacion }}</p>
        <p><strong>Costo:</strong> {{ servicio.costo | currency }}</p>
        <p>
          <strong>Disponibilidad:</strong>
          <span *ngIf="servicio.disponibilidad; else noDisponible">Disponible</span>
          <ng-template #noDisponible>No disponible</ng-template>
        </p>
        <p>
          <strong>Pago disponible:</strong>
          <span *ngIf="servicio.disponibilidadpago; else pagoNoDisponible">Sí</span>
          <ng-template #pagoNoDisponible>No</ng-template>
        </p>
        <p><strong>Proveedor ID:</strong> {{ servicio.proveedor_id }}</p>
      </div>
    </div>
  </div>
</div>
