.container {
  margin: 20px;
  font-family: 'Arial', sans-serif;
  color: #333;
  position: relative;
}

.provider-counter {
  position: absolute;
  top: 10px; 
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.provider-counter p {
  margin: 0;
  font-size: 16px;
}

.category-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: #28a745;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: 350px;
}

.card:hover {
  transform: translateY(-5px); 
}

.card-left {
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;
}

.card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

.card-content {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #007bff;
}

.card-description,
.card-location,
.card-cost,
.card-availability,
.card-payment,
.card-provider {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}

.card-description strong,
.card-location strong,
.card-cost strong,
.card-availability strong,
.card-payment strong,
.card-provider strong {
  color: #000;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  color:#28a745;
}

.card-container .card + .card {
  margin-top: 20px;
}

.card-container {
  gap: 30px;
}