.headerBox {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff;
    padding: 20px 40px; 
    border-bottom: 3px solid black;
    position: relative; 
}


.logo {
    font-size: 32px;
    font-weight: bold;
    color: #055240;
    margin: 0;
}


.serviceText {
    position: fixed;
    right: 270px; 
    font-size: 24px;
    font-weight: normal;
    color: #555;
    margin: 0;
}

.HeaderBox_EnterBox {
    display: flex;
    gap: 20px; 
}

.buttonHeader {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #055240;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.buttonHeader:hover {
    transform: scale(1.1);
    color: #033d30;
}